<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>March Madness Chatbot</title>
    </head>
    <body>
        <div class="container" id="content"> 
            <p id="out">
                <span>Hello, my name is Caridin, March Madness Chatbot.</span><br>
                <span>I want to play a game.</span><br>
                <span>We will ask each other questions relating to the two teams in NCAA 2018 final.</span><br>
                <span>Questions will be limited to these topics: player name, team name, skill, position, entities.</span><br>
                <span>
                    1 point will be added to the player if they manage to answer the question of the other or the other 
                    can't answer their question
                </span><br>
                <br>
                <span>Caridin: Before we start, what is your name?</span><br>
            </p>
            <p id="inp">
                <span id="dir">Message: </span>
                <div id="stretchbox">
                    <input type="text" 
                           id="txt-inp"
                           autocomplete="off"             
                           autocorrect="off"
                           autocapitalize="off" 
                           autofocus="autofocus"
                           spellcheck="false">
                    </input>
                </div>
            </p>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>
$(function() {
    let textInput = $('#txt-inp');
    let messageOutput = $('#out');
    let processingStatus = $('<span>Caridin: Processing...<br></span>');
    let name = 'Player';

    function println(text) {
        let newSpan = document.createElement("SPAN");
        let newLine = document.createElement("BR");
        let textNode = document.createTextNode(text);
        newSpan.appendChild(textNode);
        document.getElementById("out").appendChild(newSpan);
        document.getElementById("out").appendChild(newLine);
        gotoBottom();
    }

    function print(text) {
        let newSpan = document.createElement("SPAN");
        let textNode = document.createTextNode(text);
        newSpan.appendChild(textNode);
        document.getElementById("out").appendChild(newSpan);
    }

    function gotoBottom() {
        window.scrollTo(0,document.body.scrollHeight);
    }

    function sendMessage() {
        let data = {
            'reply': textInput.val()
        };
        if (!data['reply']) {
            return;
        }
        println(name + ': ' + data['reply']);
        textInput.val('');
        messageOutput.append(processingStatus);
        $.ajax({
            type: "POST",
            url: "{{ url_for('playGame') }}",
            data: JSON.stringify(data, null, "\t"),
            contentType: "application/json;charset=UTF-8",
            success: function(response) {
                messageOutput.children().last().remove();
                println('Caridin: ' + response['reply']);
                if (response.hasOwnProperty('name')) {
                    name = response['name'];
                } else if (response.hasOwnProperty('result')) {
                    println(response['score_board']);
                    println(response['result']);
                    println('Caridin: Thank you for playing!');
                    $('#id').remove();
                } else if (response.hasOwnProperty('question')) {
                    println(response['question']);
                } else if (response.hasOwnProperty('error')) {
                    println(response['error']);
                }
            }
        });
    }

    $('#txt-inp').keypress(function(e) {
        if (e.which == 13) {
            sendMessage();
        }
    });


});
        </script>
    </body>
</html>
